.md\:mt-20 {
    margin-top: 5rem;
}

.-z-1 {
    z-index: -1;
}

.w-screen {
    width: 100vw;
}

.right-0 {
    right: 0;
}

.h-full {
    height: 100%;
}

.lg\:pr-64 {
    padding-right: 16rem;
}

.lg\:pl-8 {
    padding-left: 2rem;
}

